.container {
    width: 20%;
    height: 100%;
    /* background-color: green; */
    padding: 20px;
    position: sticky;
    top: 0;
    border-right: 1px solid #eee;
}

.list .listItem {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItem:hover {
    background-color: rgba(225, 225, 225, 0.5);
    transition: all 0.5s;
}

.activeLesson{
    background-color: purple;
    border-radius: 10px;
    color: #fff;
}

.activeLesson:hover {
    background-color: purple;
}