.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    margin-bottom: 2em;
}

.heading h2 {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #888;
    padding: 5px 30px;
    border-radius: 20px;
}

.testimonialsList {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.testimonialsList  .listItem{
    border: 1px solid #888;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    height: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
} 

.listItem:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.listItem .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.top .imgnUserInfo {
    display: flex;
    align-items: center;
}

.listItem .top img {
    width: 30px;
    height: 30px;
    background-color: #888;
    border-radius: 50%;
}

.top .userInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userInfo p:nth-child(2) {
    font-size: 12px;
}

.userComment {
    margin-top: 10px;
}